OneshotMega/imgs/*
OneshotMega/inference/*.png
OneshotMega/inference/*.mp4
OneshotMega/inference/temp/*
OneshotMega/inference/result/*

SimSwap/arcface_model/*
SimSwap/checkpoints/*
SimSwap/crop_224/*
SimSwap/demo_file/*
SimSwap/docs/*
SimSwap/output/*
SimSwap/temp_results/*
SimSwap/*.png
SimSwap/*.mp4

simswap_light/checkpoints/*
simswap_light/arcface_model/*
simswap_light/parsing_model/checkpoint/*
simswap_light/insightface_func/*
simswap_light/output/*
simswap_light/temp_results/*
simswap_light/RetinaFace-Resnet50-fixed.pth
simswap_light/*.patch
simswap_light/*.png
simswap_light/*.log

*.log
**/__pycache__
**/**/__pycache__


